.btn-orange {
    background-color: #ff7315;
    color: white;
    padding: 15px 20px;
    font-family: 'Oswald', sans-serif;
 }
.btn-orange:hover {
    background-color: #f4f4f4; 
    color: white;
 }